@font-face {
    font-family: cstm;
    src: url('fontfaces/Poppins-Regular.ttf');
}
body{
    font-family: cstm;
}
.navbar{
    background-color: rgb(1, 1, 62);
 
}
.navbar-toggler{
   background-color: rgba(245, 245, 245, 0.389);
}
.navbar-brand{
    display: flex;
}
.navbar-brand h3{
    color: white;
    padding-top: 5px;
    padding-left: 15px;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    background-color: rgba(9, 9, 92, 0.823);
    color: yellow;
    border-radius: 5px 20px;
}
.smcc{
    text-align: center;
    margin: 20px;
    padding: 20px;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.container{
    max-width: 100%;
    max-height: 100%;
    color: rgba(9, 9, 92, 0.823);
}
.main{  
    padding: 20px;
}
h2{
    text-align: center;
    
}
.vision, .mission, .goal, .objectives, .kinder, .elementary, .jhs, .academic,.tvl,.colleges {
    text-align: justify;
}
.vmgo, .kinder, .elementary, .jhs, .academic,.tvl,.colleges{
    background-color: rgba(147, 141, 241, 0.178);
    border-radius: 5px;
}
.course{
    text-align: center;
    margin: 20px;
    padding: 20px;
    padding-top: 20rem;
    padding-bottom: 20rem;
}
h3{
    text-align: center;

}
h5,h2.h1,p,li{
    padding: 10px;
    justify-content: center;
}

