@font-face {
    font-family: custom;
    src: url('fontfaces/Poppins-Regular.ttf');
}
*{
    padding: 0;
    margin: 0;

}
.container{
    max-width: 100%;
    max-height: 80px;
    background-color: rgb(0, 0, 54);
   
}
.smcclogo{
    max-height: 70px;
    padding-bottom: 10px;  
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}
.nav .logo{
    display: flex;
    justify-content: space-between;
}
.nav .logo h2 {
    color: white;
    padding: 10px;
    font-family: custom;
    
}
.nav .links ul {
display: flex

}
.nav .links ul li {
   padding: 10px;
    list-style: none;
}
.nav .links ul li a {
    text-decoration: none;
    color: white;
}
.nav .links ul li:hover{
    background-color: rgba(30, 0, 255, 0.373);
    border-radius: 5px 20px;
    transition: 0.5s ease;
}
.nav .links ul li a:hover{
    color: rgb(255, 213, 0);
}
.toggle-btn {
   
    position: absolute;
    top: px;
    right: 60px;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: 20px;
    width: 30px;
    padding-left: 5px;
    
}
.toggle-btn .bar {
  
    height: 4px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
   
}
.toggle-btn .bar:hover{
    background-color: rgb(255, 213, 0);
}
@media screen and (max-width: 768px) {
    .toggle-btn {
        display: flex;
        z-index: 2;
        padding-left: 5px;
    }

    .links ul {
        width: 100%;
        background-color: rgb(0, 0, 54);
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
        position: absolute;
        text-align: center;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .links {
        display: none;
        width: 100%;
    }

    .links ul-li {
        margin: 10px 0px;
    }

    .links ul li a {
        font-size: 20px;
    }

    .nav .logo {
        font-size: 29px;
    }

    .links.active {
        display: flex;
    }
}
@media screen and(max-width: 599px) {
    .toggle-btn {
        display: flex;
        z-index: 2;
        padding-left: 5px;
    }

    .links ul {
        width: 100%;
        background-color: rgb(0, 0, 54);
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
        position: absolute;
        text-align: center;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .links {
        display: none;
        width: 100%;
    }

    .links ul li {
        margin: 10px 0px;
    }

    .links ul li a {
        font-size: 20px;
       
    }

    .nav .logo {
        font-size: 29px;
    }

    .links.active {
        display: flex;
    }
}
.main{
    font-family: custom;
}
.main h1{

    padding: 100px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 54);
}